
  .navbar-navlink {
    cursor: pointer;
    transition: all ease-in-out .3s;
    color: rgb(135, 143, 255);
    font-weight: 200;
    font-size: 16px;
  }
  .navbar-navlink:hover {
    cursor: pointer;
    transform: scale(1.04);
    color: white
  }
  .logout-button {
    transition: all ease-in-out .3s;
  }
  .logout-button:hover {
    transform: scale(1.04);
  }
  .navbar-container {
    background-color: rgb(0, 0, 0);
  }
  .navbar-title {
    background: #5B11DD;
    background: linear-gradient(to right, #5B11DD 0%, #CFCFCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 200;
  }